.header__logo, .footer__logo {
  text-decoration: none;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
}

.button--primary, .button--secondary {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.nav__list, .contacts__list, .specifics__list, .work__list, .team__list, .clients__list, .filter__list, .portfolio__list {
  padding: 0;
  margin: 0;
}

.sm__link, .nav__link, .contacts__link, .clients__link, .check-test__link, .address__link, .footer-sm__link, .portfolio__link {
  text-decoration: none;
}

.hero, .specifics, .work, .team, .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__container, .specifics__container, .work__container, .team__container, .clients__container, .footer__container, .portfolio__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.specifics__title, .work__title, .team__title, .clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

body {
  background-color: #E5E5E5;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
}

.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__part {
  color: #2196F3;
}

.footer__logo {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 0;
}

.sm__item {
  width: 44px;
  height: 44px;
}

.sm__item:not(:last-child) {
  margin-right: 10px;
}

.sm__link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm__link:hover, .sm__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.sm__icon {
  fill: currentColor;
}

.button--primary {
  color: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 200px;
  height: 50px;
}

.button--secondary {
  color: var #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-color: #F5F4FA;
  border-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-style: none;
  background-color: transparent;
  outline: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close:hover, .button--close:focus {
  color: #2196F3;
}

.button--close .icon {
  fill: currentColor;
}

.header {
  background-color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link--current {
  color: #2196F3;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 1;
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  margin-left: auto;
}

.contacts__item {
  font-size: 14px;
  line-height: 1.14;
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imghero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 30px;
}

.specifics {
  background-color: #FFFFFF;
}

.specifics h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  margin-top: 30px;
  margin-bottom: 10px;
}

.specifics p {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.specifics__title {
  display: none;
}

.specifics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specifics__item {
  margin-right: 30px;
}

.specifics__item:last-child {
  margin-right: 0;
}

.specifics__iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.specifics__icon {
  margin-top: auto;
  margin-bottom: auto;
}

.work {
  padding-top: 0;
  background-color: #FFFFFF;
}

.work p {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.work h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  margin-right: 30px;
  position: relative;
}

.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}

.team p {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.team h3 {
  margin-bottom: 10px;
  text-align: center;
}

.team img {
  margin-bottom: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.clients {
  background-color: #FFFFFF;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  outline-color: #2196F3;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  margin: 16px 32px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 320ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 320ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  min-height: 580px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin: 0;
}

.modal__form {
  margin-top: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: #2196F3;
  padding-left: 42px;
}

.modal__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal__comment:focus {
  border-color: #2196F3;
}

.modal__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-check {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71px;
  color: #757575;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.check-test__link {
  margin-left: 5px;
}

.modal__check {
  display: none;
}

.modal__check:checked + .check-text::before {
  background-color: #2196F3;
  border: none;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.footer {
  background-color: #2F303A;
}

.footer h3 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__link {
  display: block;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #FFFFFF;
}

.address__list {
  padding-left: 0;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item:first-child {
  margin-top: 20px;
}

.footer-sm {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-sm__link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm__link:hover, .footer-sm__link:focus {
  background-color: #2196F3;
}

.footer-sm__icon {
  fill: #FFFFFF;
}

.subscribe {
  margin-left: auto;
  padding-top: 12px;
}

.subscribe .modal__input {
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid #757575;
  padding-left: 16px;
  width: 358px;
  height: 50px;
}

.subscribe .modal__input::-webkit-input-placeholder {
  color: #AFB1B8;
}

.subscribe .modal__input:-ms-input-placeholder {
  color: #AFB1B8;
}

.subscribe .modal__input::-ms-input-placeholder {
  color: #AFB1B8;
}

.subscribe .modal__input::placeholder {
  color: #AFB1B8;
}

.subscribe .modal__input:focus {
  color: #AFB1B8;
  padding-left: 16px;
}

.subscribe__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__icon {
  margin-left: 10px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio {
  background-color: #FFFFFF;
}

.portfolio img {
  margin-bottom: 0;
}

.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio__list p {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay p {
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.portfolio__text {
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  padding-top: 20px;
}
/*# sourceMappingURL=main.css.map */