@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/general-styles";

@import "./components/shared/logo";
@import "./components/shared/_socialmedia";
@import "./components/shared/buttons";

@import "./components/header/header-box";
@import "./components/header/nav";
@import "./components/header/contacts";

@import "./components/hero";
@import "./components/specifics";
@import "./components/work";
@import "./components/team";
@import "./components/clients";

@import "./components/modal";

@import "./components/footer/footer-box";
@import "./components/footer/address";
@import "./components/footer/join";
@import "./components/footer/subscribe";

@import "./components/portfolio/filter";
@import "./components/portfolio/projects";

