.hero {
    @extend %section;

    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: $footer-bg-color;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/imghero.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 30px;
}