.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 320ms $timimg-function, visibility 250ms $timimg-function;

    .is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    min-height: 580px;
    background-color: $white-color;
    border-radius: 4px;
    padding: 40px;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
    margin: 0;
}

.modal__form {
    margin-top: 12px;
}

.modal__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms $timimg-function;

    &:focus {
        border-color: $accent-color;
        padding-left: 42px;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $ft-modal-text-color;
    }
}

.modal__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.modal__comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;

    &:focus {
        border-color: $accent-color;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $ft-modal-text-color;
    }
}

.modal__field-check {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71px;
    color: $primary-text-color;

    &::before {
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid $title-text-color;
        border-radius: 2px;
        margin-right: 8px;
    }
}

.check-test__link {
    margin-left: 5px;
}

.modal__check {
    display: none;
}

.modal__check:checked + .check-text::before {
    background-color: $accent-color;
    border: none;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal__input:focus + .modal__icon {
    fill: $accent-color;
}

.input-wrap {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}