.section__work {
    padding-top: 0;

    + h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-text-color);
    }
}

.work__list {
    display: flex;
}

.work__item {
    margin-right: 30px;
    position: relative;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.work__overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}