.address__link {
    @extend %link;
    display: block;
    color: $primary-text-color;
    transition: color 250ms $timimg-function;

    &:hover,
    &:focus {
        color: $white-color;
    }
}

.address__list {
    padding-left: 0;
}

.address__item {

    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &:first-child {
        margin-top: 20px;
    }
}