.footer {
    background-color: $footer-bg-color;

    h3 {
        color: $white-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        margin-bottom: 20px;
    }
}

.footer__container {
    @extend %container;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
