.subscribe {
    margin-left: auto;
    padding-top: 12px;

    .modal__input {
        margin-right: 12px;
        background-color: transparent;
        border: 1px solid $primary-text-color;
        padding-left: 16px;
        width: 358px;
        height: 50px;

        &::placeholder {
            color: $icon-color;
        }

        &:focus {
            color: $icon-color;
            padding-left: 16px;
        }
    }
}

.subscribe__input-wrap {
    display: flex;
}

.subscribe__icon {
    margin-left: 10px;
}