%logo {
    text-decoration: none;
    color: $title-text-color;
    font-family: $font-family-logo;
    font-weight: $font-weight-logo;
    font-size: $font-size-logo;
    line-height: $line-height-logo;
}

%button {
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

%list {
    padding: 0;
    margin: 0;
}

%link {
    text-decoration: none;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

%section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}