%logo {
    text-decoration: none;
    color: $title-text-color;
    font-family: $font-family-logo;
    font-weight: $font-weight-logo;
    font-size: $font-size-logo;
    line-height: $line-height-logo;
}

%button {
    cursor: pointer;
    border-radius: 4px;
    text-align: center;

    &--primary {
        color: $white-text-color;
        background-color: $accent-color;
        border-color: $accent-color;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 200px;
        height: 50px;
    }
}

%list {
    padding: 0;
    margin: 0;
}

%link {
    text-decoration: none;
}

%container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
}