.button--primary {
    @extend %button;

    color: $white-color;
    background-color: $accent-color;
    border-color: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 50px;
}

.button--secondary {
    @extend %button;

    color: var$title-text-color;
    background-color: $secondary-bg-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-color: $secondary-bg-color;
    border-style: none;
    transition: color 250ms $timimg-function, background-color 250ms $timimg-function, box-shadow 250ms $timimg-function;

    &:hover, &:focus {
        color: $white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    } 
}

.button--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-style: none;
    background-color: transparent;
    outline: solid 1px rgba(0, 0, 0, 0.1);
    transition: color 250ms $timimg-function;

    &:hover, &:focus {
        color: $accent-color;
    }

    .icon {
        fill: currentColor;
    }
}
