.sm {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0;
}

.sm__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.sm__link {
    @extend %link;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $icon-color;
    transition: background-color 250ms $timimg-function;
    transition: color 250ms $timimg-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white-color;
    }
}

.sm__icon {
    fill: currentColor;
}